.clipping-list {
  padding: 1.5rem;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.clipping-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.clipping-grid {
  /* width: calc(100vw - 320px); */
  column-count: 1;
}



.clipping-card {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 1rem; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.clipping-card:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);
  transform: translateY(-2px);
}

.clipping-header {
  margin-bottom: 0.75rem;
}

.book-title {
  font-weight: bold;
  font-size: 1rem;
}

.book-author {
  font-size: 0.85rem;
  color: #6b7280;
}

.note-text {
  margin-top: 0.5rem;
  color: #7f8797;
  font-style: italic;
}

.clipping-content {
  flex-grow: 1;
  font-size: 0.95rem;
  margin-bottom: 0.75rem;
  color: #374151;
  word-break: break-word;
}


.clipping-footer {
  display: flex;
  justify-content: space-between; /* left and right */
  align-items: center; /* vertical centering */
  margin-top: 0.5rem;
  color: #9ca3af;
  font-size: 0.75rem;
}

.clipping-actions i {
  cursor: pointer;
  font-size: 1.1rem;
  margin-left: 0.5rem;
  color: #6b7280;
  transition: color 0.2s;
}

.clipping-actions i:hover {
  color: #111827;
}

.clipping-filter {
  font-size: 14px;
  width: 100%;
  margin-bottom: 0.5rem;
  margin-left: 1.0 rem;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 1rem; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.clipping-filter:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);
  transform: translateY(-2px);
}

.clipping-tags {
  font-size: 0.85rem;
  color: #6b7280;
}

.tag {
  font-size: 0.85rem;
  color: #4b5563;
  background-color: #f3f4f6; 
  border-radius: 2px;
  padding: 2px 5px;
  margin-right: 4px;
  display: inline-block;
  user-select: none;
  transition: background-color 0.2s ease;
}

.tag:hover {
  background-color: #e5e7eb; 
  cursor: default;
}

.tag-menu input {
  width: 90%;
  padding: 6px 8px;
  margin-bottom: 12px;
  margin-top: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
}

.tag-suggestions {
  position: absolute;
  background-color: #f9fafb; 
  border: 1px solid #d1d5db; 
  border-radius: 6px;
  margin-top: 0.25rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); 
  z-index: 10;
  width: 80%;
  max-height: 180px; 
  overflow-y: auto;
  font-size: 0.9rem;
  color: #374151; 
  list-style: none;
  padding-left: 0;  
  margin: 0;        
}

.tag-suggestions li {
  padding: 6px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 4px;
}

.tag-suggestions li:hover {
  background-color: #e5e7eb; 
  color: #111827; 
}


.edit-input {
  width: 95%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background-color: #f9fafb;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.edit-input:focus {
  border-color:  #111827;
  box-shadow: 0 0 0 3px rgba(172, 185, 214, 0.2);
  outline: none;
}

.edit-textarea {
  width: 95%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background-color: #f9fafb;
  resize: vertical;
  transition: border-color 0.2s, box-shadow 0.2s;
  height: 100px;
}

.edit-textarea:focus {
  border-color:  #111827;
  box-shadow: 0 0 0 3px rgba(172, 185, 214, 0.2);
  outline: none;
}

.add-note-button {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #6b7280;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: color 0.2s ease;
}

.add-note-button:hover {
  color: #111827;
}

.add-note-button svg {
  margin-right: 0.4rem;
  width: 16px;
  height: 16px;
}



