.sidebar-wrapper {
  width: 240px;
  background-color: #f3f4f6;
  padding: 10px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  height: calc(100vh - 60px);
  z-index: 9;
}

.sidebar-button {
  display: block;
  width: 90%;
  text-align: left;
  padding: 8px 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.sidebar-button:hover {
  background-color: #e5e7eb;
}

.sidebar-button.active {
  background-color: #d0d0d0;
}

.sidebar-button .book-title,
.sidebar-button .book-author {
  font-weight: 500;
  font-size: 0.85rem;
}

.sidebar-button .book-author {
  font-size: 12px;
  color: #6b7280;
}

.tooltip-container {
  position: relative;
  display: block;
  max-width: 200px; /* ogranicza szerokość, by ellipsa działała */
  cursor: pointer;
}

.tooltip-container .book-title,
.tooltip-container .book-author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  max-width: 100%; /* nie przekracza container */
}

/* Tooltip - ukryty domyślnie */
.tooltip-container .tooltip-text {
  visibility: hidden;
  background-color: #6b7280;
  color: white;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 4px;

  position: absolute;
  top: 110%; /* lub np. top: 110% jeśli chcesz pod spodem */
  left: 0; /* tooltip pojawi się po prawej stronie */
  transform: translateX(8px); /* przesunięcie 8px w prawo */
  white-space: normal;
  max-width: 250px;
  width: max-content;
  z-index: 999999;

  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  z-index: 10;
}

/* Pokazuje tooltip przy hover */
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  margin-right: 0.5rem;
}

.tab-button {
  flex-grow: 1;
  padding: 8px;
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.8rem;
  transition: border-color 0.2s;
  color: #8d8d8d;
}

.tab-button.active {
  border-color: #232324; 
  color: #232324;
  font-weight: 600;
}

.sidebar-filter {
  width: 85%;
  padding: 6px 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.sidebar-author {
  padding: 8px 12px;
  border-bottom: 1px solid #eee;
  cursor: default;
  font-size: 14px;
  color: #333;
}

.book-title {
  font-weight: bold;
  font-size: 0.85rem;
}

.book-author {
  font-size: 0.85rem;
  color: #6b7280;
}

.icon-column {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.6rem;
  margin-bottom: 0.6rem;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  color: #333; 
  cursor: pointer;
}

.icon-wrapper span {
  margin-top: 0.25rem;
  font-size: 0.85rem;
  color: #374151; 
}

.icon-margin {
  margin-right: 0.5rem; 
}
